* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

body {
	background-color: black;
}

/* HEADER */

.header {
	background: rgba(0, 0, 0, 0.6);
	height: 7vh;
	width: 100%;
	padding: 40px 0px;
	position: fixed;
	z-index: 10;
}

.navegacion {
	float: right;
	width: 50%;
}
.contenedor_logo {
	float: left;
	width: 30%;
	display: flex;
}

.contenedor_logo img:hover {
	scale: 110%;
	transition: 0.3s;
}

.contenedor_logo img {
	width: 60px;
	height: 60px;
	margin-left: 90px;
	transition: 0.3s;
}

.barra_navegacion {
	display: flex;
	justify-content: flex-end;
	margin-right: 90px;
}

.div_nav {
	min-width: 150px;
	height: 70px;
	text-align: center;
	line-height: 7vh;
	margin-left: 40px;
}

.div_nav a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	letter-spacing: 1px;
}

.div_nav a::after {
	content: "";
	display: block;
	margin-left: 14px;
	margin-top: 2%;
	background-color: #00ccff;
	width: 0px;
	height: 3px;

}

.div_nav a:hover {
	color: #b3b3b3;
	transition: 0.2s;
}

.div_nav a:hover:after {
	width: 120px;
	transition: 0.3s;
}

.navegacion_res {
	display: none;
}

	/* responsive */

.header i {
	display: flex;
	position: absolute;
	right: 100px;
	top: 50px;
	color: white;
	font-size: 50px;
	display: none;
}

@media screen and (max-width: 850px){
	.header i{
		display: flex;
	}

	.header i:hover {
		color: lightgrey;
		cursor: pointer;
	}

	.navegacion div {
		display: none;
	}

	.navegacion.active {
		display: flex;
		justify-content: flex-end;
		background-color: white;
		margin-top: -40px;
	}

	.navegacion.active ul{
		display: inline-flex;
		flex-flow: column;
		margin-top: 25vh;
		list-style: none;
	}

	.div_nav_res {
		margin-bottom: 100px;
		text-align: center;
		font-size: 5vw;
	}

	.navegacion.active a:hover {
		background-color: black;
		color: white;
		transition: 0.3s;
	}

	.navegacion.active a{
		text-decoration: none;
		color: black;
		text-align: center;
		border: solid 3px black;
		padding: 3vw;
		border-radius: 15px;
		transition: 0.3s;
	}

	#icono.active {
		color: black;
	}

	.barra_navegacion{
		display: none;
	}

	.barra_navegacion.active{
		display: flex;
		margin-right: 0;
		width: 50vw;
		height: 100vh;
	}

	.navegacion_res{
		width: 50vw;
		height: 100vh;
	}
}



/* BANNER */


.banner {
	height: 100vh;
	background-color: black;
}

.banner p {
	display: block;
	color: #99ebff;
	text-align: center;
	line-height: 100vh;
	font-size: 200px;
	font-weight: bold;
	letter-spacing: 2px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	text-shadow: 0 0 200px #009dff;

	animation-name: animacion1;
	animation-duration: 3s;
}

@keyframes animacion1 {
	0%{
		color: #262626;
		text-shadow: none;
	}

	100%{
		color: #99ebff;
		text-shadow: 0 0 200px #009dff;
	}
}

	/* responsive */

@media screen and (max-width: 1400px){
	.banner p{
		font-size: 150px;
	}
}

@media screen and (max-width: 1100px){
	.banner p{
		font-size: 100px;
	}
}

@media screen and (max-width: 700px){
	.banner p{
		font-size: 75px;
	}
}

@media screen and (max-width: 530px){
	.banner p{
		font-size: 50px;
	}
}

@media screen and (max-width: 350px){
	.banner p{
		font-size: 25px;
	}
}



/* FOOTER */

.footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	display: inline-flex;
	flex-flow: row;
	width: 95vw;
	height: 5vh;
	margin-top: 25vh;
}

.footer p {
	margin-left: 40px;
}

.footer img {
	max-width: 80px;
	max-height: 60px;
	margin-bottom: 25px;
}




/* INICIO */




/* ESTA PÁGINA */

.

.esta_pagina {
	max-width: 100%;
	max-height: 70vh;
	background-color: black;
}

.texto__esta_pagina {
	float: left;
	margin-left: 5vw;
	margin-top: 50px;
}

.texto__esta_pagina p {
	color: white;
	font-size: 25px;
	max-width: 800px;
	line-height: 40px;
	margin-bottom: 90px;
}

.texto__esta_pagina a{
	font-size: 20px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
	border: solid 3px #00ccff;
	padding: 20px 30px;
	border-radius: 15px;
	box-shadow: 0 0 50px #009dff;
}

.texto__esta_pagina a:hover {
	color: black;
	background-color: #00ccff;
	transition: 0.3s;
	box-shadow: 0 0 20px #009dff;
}

.imagen__esta_pagina{
	margin-right: 5vw;
	float: right;
}


.imagen__esta_pagina img{
	max-width: 25vw;
	margin-right: 5vw;
}

	/* responsive */

.imagen__esta_pagina_res img{
	display: none;
}


@media screen and (max-width: 1400px){
	.imagen__esta_pagina{
		display: none;
	}

	.imagen__esta_pagina_res img {
		max-width: 30vw;
		display: inline-flex;
	}

	.texto__esta_pagina {
		float: center;
		max-width: 90vw;
		text-align: center;
	}

	.texto__esta_pagina p{
		max-width: 80vw;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.esta_pagina {
		display: inline-flex;
		flex-flow: column;
		align-items: center;
		margin-bottom: 200px;

	}

}

@media screen and (max-width: 650px){
	.texto__esta_pagina p {
		font-size: 20px;
	}

	.texto__esta_pagina a {
		font-size: 15px;
	}
}



/* ARTÍCULOS */



.banner-articulos {
	height: 100vh;
	background-color: black;
}

.articulos_articulos {
	display: block;
	color: #99ebff;
	text-align: center;
	line-height: 100vh;
	font-size: 200px;
	font-weight: bold;
	letter-spacing: 2px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	text-shadow: 0 0 200px #009dff;

	animation-name: animacion1;
	animation-duration: 1.5s;
}

	/* responsive */

@media screen and (max-width: 1400px){
	.articulos_articulos{
		font-size: 150px;
	}
}

@media screen and (max-width: 1100px){
	.articulos_articulos{
		font-size: 100px;
	}
}

@media screen and (max-width: 700px){
	.articulos_articulos{
		font-size: 75px;
	}
}

@media screen and (max-width: 530px){
	.articulos_articulos{
		font-size: 50px;
	}
}

@media screen and (max-width: 350px){
	.articulos_articulos{
		font-size: 25px;
	}
}



/* SECCIÓN DE ARTÍCULOS */


#contenedor_articulos1{
	margin-top: 50px;
}

#contenedor_articulos2{
	margin-top: 200px;
}


.contenedor_articulos {
	max-width: 100%;
	max-height: 850px;
	display: flex;
	justify-content: space-around;
}



.creaciones_multimedia {
	display: flex;
	flex-flow: column;
	width: 22%;
	height: 600px;
	box-shadow: 0 0 50px #004d80;
	border-radius: 25px;
	border-radius: 25px;
	transition: 0.3s
}

.creaciones_multimedia:hover {
	scale: 110%;
	transition: 0.3s;
}

.creaciones_multimedia p {
	color: #b3b3b3;
	text-transform: uppercase;
	text-align: center;
	font-size: 37px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
}

.creaciones_multimedia img  {
	height: 250px;
	max-width: 100%;
	border-radius: 25px 25px 0px 0px;
	opacity: 70%;
}


.imagen_digital {
	display: flex;
	flex-flow: column;
	width: 22%;
	height: 600px;
	box-shadow: 0 0 50px #004d80;
	border-radius: 25px;
	transition: 0.3s
}

.imagen_digital:hover {
	scale: 110%;
	transition: 0.3s;
}

.imagen_digital p {
	color: #b3b3b3;
	text-transform: uppercase;
	text-align: center;
	font-size: 37px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
}

.imagen_digital img  {
	height: 250px;
	max-width: 100%;
	border-radius: 25px 25px 0px 0px;
	opacity: 70%;
}


.edicion_grafica {
	display: inline-flex;
	flex-flow: column;
	width: 22%;
	height: 600px;
	box-shadow: 0 0 50px #004d80;
	border-radius: 25px;
	border-radius: 25px;
	transition: 0.3s
}

.edicion_grafica:hover {
	scale: 110%;
	transition: 0.3s;
}

.edicion_grafica p {
	color: #b3b3b3;
	text-transform: uppercase;
	text-align: center;
	font-size: 37px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
}

.edicion_grafica img  {
	height: 250px;
	width: 100%;
	border-radius: 25px 25px 0px 0px;
	opacity: 70%;
}

.parametros-fotograficos {
	display: flex;
	flex-flow: column;
	width: 22%;
	height: 600px;
	box-shadow: 0 0 50px #004d80;
	border-radius: 25px;
	border-radius: 25px;
	transition: 0.3s
}

.parametros-fotograficos:hover {
	scale: 110%;
	transition: 0.3s;
}

.parametros-fotograficos p {
	color: #b3b3b3;
	text-transform: uppercase;
	text-align: center;
	font-size: 37px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
}

.parametros-fotograficos img  {
	height: 250px;
	max-width: 100%;
	border-radius: 25px 25px 0px 0px;
	opacity: 70%;
}

.retoque-fotografico {
	display: flex;
	flex-flow: column;
	width: 22%;
	height: 600px;
	box-shadow: 0 0 50px #004d80;
	border-radius: 25px;
	border-radius: 25px;
	transition: 0.3s
}

.retoque-fotografico:hover {
	scale: 110%;
	transition: 0.3s;
}

.retoque-fotografico p {
	color: #b3b3b3;
	text-transform: uppercase;
	text-align: center;
	font-size: 37px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
}

.retoque-fotografico img  {
	height: 250px;
	max-width: 100%;
	border-radius: 25px 25px 0px 0px;
	opacity: 70%;
}

.proximamente {
	display: inline-flex;
	flex-flow: column;
	width: 22%;
	height: 600px;
	box-shadow: 0 0 50px #004d80;
	border-radius: 25px;
	border-radius: 25px;
	transition: 0.3s;
	opacity: 0.3;
}

.proximamente p {
	color: #b3b3b3;
	text-transform: uppercase;
	text-align: center;
	font-size: 37px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
}

.proximamente img  {
	height: 250px;
	width: 100%;
	border-radius: 25px 25px 0px 0px;
	opacity: 70%;
}



.boton {
	text-align: center;
	margin: auto;
	font-size: 20px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
	border: solid 3px #00ccff;
	padding: 20px 30px;
	border-radius: 15px;
	box-shadow: 0 0 50px #009dff;
	width: 75px;
	cursor: pointer;
}

.boton:hover {
	color: black;
	background-color: #00ccff;
	transition: 0.3s;
	box-shadow: 0 0 20px #009dff;
}

.boton2 {
	text-align: center;
	margin: auto;
	font-size: 20px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
	border: solid 3px #00ccff;
	padding: 20px 30px;
	border-radius: 15px;
	box-shadow: 0 0 50px #009dff;
	width: 75px;
}


@media screen and (max-width: 1400px){
	.contenedor_articulos{
		flex-flow: column;
		align-items: center;
		max-height: 100%;
	}

	.creaciones_multimedia{
		width: 33%;
		margin-top: 15vh;
	}

	.imagen_digital{
		width: 33%;
		margin-top: 15vh;
	}

	.edicion_grafica{
		width: 33%;
		margin-top: 15vh;
	}

	.parametros-fotograficos{
		width: 33%;
		margin-top: 15vh;
	}

	.retoque-fotografico{
		width: 33%;
		margin-top: 15vh;
	}

	.proximamente{
		width: 33%;
		margin-top: 15vh;
	}

	#contenedor_articulos2{
	margin-top: 0;
	}
}

}

@media screen and (max-width: 1050px){
	.creaciones_multimedia, .imagen_digital, .edicion_grafica, .parametros-fotograficos, .retoque-fotografico, .proximamente {
		width: 40%;
	}
}

@media screen and (max-width: 800px){
	.creaciones_multimedia, .imagen_digital, .edicion_grafica, .parametros-fotograficos, .retoque-fotografico, .proximamente {
		width: 60%;
		height: 500px;
	}

	.creaciones_multimedia p{
		font-size: 25px;
	}
	.imagen_digital p{
		font-size: 25px;
	}
	.edicion_grafica p{
		font-size: 25px;
	}

	.parametros-fotograficos p{
		font-size: 25px;
	}

	.retoque-fotografico p{
		font-size: 25px;
	}

	.proximamente p{
		font-size: 25px;
	}

	.boton{
		font-size: 15px;
	}

	.creaciones_multimedia img {
		height: 200px;
	}

	.imagen_digital img{
		height: 200px;
	}

	.edicion_grafica img{
		height: 200px;
	}

	.parametros-fotograficos img{
		height: 200px;
	}

	.retoque-fotografico img{
		height: 200px;
	}

	.proximamente img{
		height: 200px;
	}
}

@media screen and (max-width: 520px){
	.creaciones_multimedia, .imagen_digital, .edicion_grafica, .parametros-fotograficos, .retoque-fotografico, .proximamente {
		width: 70%;
		height: 400px;
	}

	.creaciones_multimedia p{
		font-size: 20px;
		margin: auto;
	}
	.imagen_digital p{
		font-size: 20px;
		margin: auto;
	}
	.edicion_grafica p{
		font-size: 20px;
		margin: auto;
	}
	.parametros-fotograficos p{
		font-size: 20px;
		margin: auto;
	}

	.retoque-fotografico p{
		font-size: 20px;
		margin: auto;
	}

	.proximamente p{
		font-size: 20px;
		margin: auto;
	}

	.boton{
		font-size: 15px;
		border: solid 2px #00ccff;
		padding: 10px 20px;
	}

	.creaciones_multimedia img {
		height: 200px;
	}

	.imagen_digital img{
		height: 200px;
	}

	.edicion_grafica img{
		height: 200px;
	}

	.parametros-fotograficos img{
		height: 200px;
	}

	.retoque-fotografico img {
		height: 200px;
	}

	.proximamente img{
		height: 200px;
	}
}



/* CREACIONES MULTIMEDIA */


.creaciones_multimedia_titulo{
	color: white;
	text-align: center;
	padding-top: 30vh;
	width: 100vw;
	height: 70vh;
	background-image: url(Imagen1.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 6vw;
	line-height: 40vh;
}

.imagen_digital_titulo{
	color: white;
	text-align: center;
	padding-top: 30vh;
	width: 100vw;
	height: 70vh;
	background-image: url(imagen-digital.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 6vw;
	line-height: 40vh;
}

.edicion_grafica_titulo{
	color: white;
	text-align: center;
	padding-top: 30vh;
	width: 100vw;
	height: 70vh;
	background-image: url(edicion_grafica.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 6vw;
	line-height: 40vh;
}

.parametros_titulo{
	color: white;
	text-align: center;
	padding-top: 30vh;
	width: 100vw;
	height: 70vh;
	background-image: url(paisaje.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 6vw;
	line-height: 40vh;
}

.retoque_titulo{
	color: white;
	text-align: center;
	padding-top: 30vh;
	width: 100vw;
	height: 70vh;
	background-image: url(retoque.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 6vw;
	line-height: 40vh;
}

.contenido{
	display: flex;
	max-width: 100%;
	padding-left: 5%;
	padding-right: 3%;
	padding-top: 20vh;
}

.contenedor_textos{
	display: flex;
	width: 100%;
	border-right: 2px solid;
	border-image-source: linear-gradient(0deg, blue, #00ccff, blue, #00ccff);
	border-image-slice: 1;
}

.texto {
	display: block;
	align-items: center;
	margin-top: 30%;
}

.texto h2{
	color: lightgrey;
	margin-bottom: 7%;
	width: 70%;
	font-size: 2vw;
	border-bottom: solid 2px #00ccff;
}

.textos{
	display: flex;
	flex-flow: column;
	width: 100%;
	margin-right: 5%;
	margin-top: -28%;

}

.textos p{
	max-width: 90%;
	padding-right: 5%;
	color: white;
	font-size: 1.5vw;
}

.textos img {
	max-width: 70%;
	min-width: 70%;
	margin-top: 10%;
}

.contenedor_indice{
	width: 30%;
}

.contenedor_indice p{
	position: sticky;
	top: 20vh;
	text-align: center;
	font-size: 1.3vw;
	border: 2px solid;
	border-image-source: linear-gradient(90deg, #00ccff, blue);
	border-image-slice: 1;
	padding: 5%;
}

.contenedor_indice a {
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

.contenedor_indice a:hover {
	color: #00ccff;
	transition: 0.3s;
}

	/* responsive */


@media screen and (max-width: 1000px){
	.contenedor_indice{
		display: none;
	}

	.contenedor_textos{
		border: none;
	}
	
	.textos p{
		font-size: 2.2vw;
	}

	.texto h2{
		font-size: 3vw;
	}
}

@media screen and (max-width: 700px){
	.textos p{
		font-size: 3.4vw;
		max-width: 100%;
	}

	.texto h2{
		font-size: 4vw;
		max-width: 100%;
	}

	.textos img{
		max-width: 100%;
	}
}